.grid-container {
    width: 62%;
    display: grid;
    grid-template-columns: 1.5fr 0.9fr 0.9fr; 
    grid-template-rows: repeat(2, auto); 
    gap: 10px; 
  }
  .grid-item {
    position: relative;
    overflow: hidden;
    transition:  0.3s ease-in-out;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  }
  .grid-item .text{
    transition: 0.5s ease-in;
  }
  .grid-item:hover .text{
    transform: scale(1.1);
    /* cursor: pointer; */
    box-shadow: 16px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in;
    padding: 10px 40px;
  }
  .grid-item:hover img{
    transform: scale(1.1);
    opacity: .5;
    transition: 0.5s ease-in;
    z-index: 1;
  }
  .category p{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 160px;
    color: #505F4E;
    font-weight: 700;
    transition: 0.5s ease-in;
    text-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  }
  /* .text{
    transition: .5s ease-in-out;
    left: 10px;
  } */
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s ease-in-out;
  }
  .grid-item:nth-child(1) {
    grid-row: span 2;
  }
  