.collection{
    margin-top: 16px;
    border-top: 1px solid #000000;
}

.collection .items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 26px;
}

.collection .items .item{
    position: relative;
    overflow: hidden;
    width: 303px;
    height: 368px;
    box-shadow: 1px 5px 15px rgba(0,0,0.2);
    transition: .5s ease-in;
    transform: scale(.93);
}
.collection .items .item:hover{
    box-shadow: 1px 10px 20px rgba(0,0,0,0.3);
    -webkit-filter: brightness(100%);  /* Firefox */
    filter: brightness(100%);  /* Chrome, Safari */
    transform: scale(1);  /* Chrome, Safari */
    transition: ease-in-out 0.3s;  /* Chrome, Safari */
}

.collection .items .item img{
    width: 100%;
    -webkit-filter: brightness(70%); 
    transition: ease-in-out 0.3s;
}
.collection .items .item:hover img{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    transition: ease-in-out 0.3s;
}
.collection .items .item .inf{
    position: absolute;
    top: 20px;
    left: 180px;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    transition: ease-in-out 0.3s;
}
.collection .items .item:hover .inf{
    background-color: rgba(0,0,0,0.6);
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    top: 20px;
    left: 180px;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}
.collection .items .item .inf span{
    font-weight: bold;
}