.list {
  margin-top: 60px;
  width: 90%;
  display: grid;
  grid-template-columns: 9fr 3fr;
}
.list .sidebar{
  width: 80%;
  margin-top: 5px;
  margin-left: 40px;
}
.list .Listproduct .pick {
  margin-top: 15px;

  display: flex;
  padding-bottom: 20px;
  color: #505f4e;
  text-decoration: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  /* border: 2px #505F4E solid; */
}
.list .Listproduct .luachon {
  margin-left: 10px;
}
.list .Listproduct label {
  font-weight: bold;
  color: #333333;
}

.list .Listproduct .pick select {
  width: 77px; /* Adjust the width to your desired length */
  margin-left: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.list .Listproduct .danhsach {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.list .item {
  position: relative;
  width: 293px;
  height: 310px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.list .item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list .item img {
  padding-top: 20px;
  width: 200px;
  height: 200px;
}

.list .inf {
  padding: 10px;
}

.list .inf p {
  margin: 5px 0;
}
.list .inf .name {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 2px;
  font-weight: bold;
}
.giatien {
  display: flex;
  gap: 10px;
  color: #505f4e;
}

.sale-price {
  color: #505f4e;
}

.original-price {
  text-decoration: line-through;
  color: #828282;
}

.list .inf p span {
  font-size: 16px;
}

.list .sale-badge {
  position: absolute;
  top: 8px;
  left: 0;
  background: #004080;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
}

.list .hover-buttons {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 50%;
  left: 50%;
  color: green;
  transform: translate(-50%, -50%);
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.list .item:hover .hover-buttons {
  opacity: 1;
}

.list .hover-buttons button {
  background: #fff;
  border-radius: 5px;
  padding: 3px;
  width: 40px;
  height: 34px;
  cursor: pointer;
}

.list .hover-buttons button:hover {
  background: #3a6f30;
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.page-item.active {
  background-color: #3a6f30;
  color: #fff;
  border: none;
}

.page-item:hover {
  background-color: #53bb93;
  color: #fff;
}
