.detail{
  width: 80%;
  margin-top: 50px;
}
.detail .in4{
  display: flex;
  gap: 20px;
  width: 100%;
}
.detail .in4 .image{
 min-width: 50%;
 margin-top: 50px;
}
.detail .image .top{
  width: 400px;
  padding: 10px;
  height: 280px;
}
.detail .image .top img{
  width: 300px;
  padding: 10px;
  filter: drop-shadow(3px 10px 20px rgba(0, 0, 0, 0.2));
  transition: 0.3s ease-in-out;
}
.detail .image .top img:hover{
  filter: drop-shadow(0px 20px 10px rgba(0,0, 0, 0.2));
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.image .imgmini img.selected {
  border: 1px solid #000;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}
.detail .in4 .image .imgmini img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 10px;
}

.detail .in4 .image .imgmini{
  display: flex;
  margin-top: 40px;
  width: 80%;
}
.detail .thongtin{
  margin-top: 60px;
  width: 510px;
}
.uppercase{
  font-size: small;
  font-weight: 500;
  color: #4E7C32;
}
.detail .thongtin h3{
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
}
.detail .thongtin .discription{
  margin-top: 10px;
  color: #68707D;
  font-size: 14px;
  font-family: sans-serif;
  width: 90%;
}
.detail .pr{
  margin-top: 10px;
  position: relative;
}
.detail .pr .price{
  font-weight: bold;
  font-size: 29px;
}
.detail .pr .price-old{
  margin-top: 5px;
  color: #3b4047;
  font-size: 19px;
  text-decoration: line-through;
  font-weight: 600;
}
.detail .pr .discount{
  position: absolute;
  top: 14%;
  left: 16%;
  font-size: 11px;
  background-color: #FFEDE0;
  color: #505F4E;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
}
.detail .tinh{
  margin-top:20px ;
  margin-left: -23px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.detail .tinh .quantity-controls{
  width: 157px;
  height: 50px;
  display: flex;
  background-color: #F7F8FD;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.detail .tinh .quantity-controls button{
  width: 30%;
  font-size: larger;
  font-weight: bold;
}

.detail .tinh .quantity-controls button:hover{
  background-color: #E0E6F0;
}
.detail .tinh .btn-add-cart{
  width: 270px;
  height: 50px;
  background-color: #4E7C32;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.detail .tinh .btn-add-cart:hover{
  background-color: #3B562E;
  transition: 0.3s ease-in-out;
}
.danhgia{
  margin-top: 90px;
  width: 75%;
  margin-left: 110px;
}
.danhgia .chitetsanpham h3{
  font-size: 26px;
  font-weight: 400;
  color: #4E7C32;
  margin-top: 20px;
  text-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
}
.danhgia .chitetsanpham p{
  margin-top: 5px;
  color: #665345;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
  line-height: 2;
}
.danhgiasanpham{
  margin-top: 40px;
  width: 100%;
  margin-left: 0px;
}
.danhgiasanpham .dau{
  display: flex;
  margin-left: 25px;
}
.danhgiasanpham .dau img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  padding: 10px;
  margin-left: 0;
}
.star-rating{
  margin-left: -560px;
  margin-top: 48px;
  color: #4E7C32;
  font-size: 22px;
}
.star-rating .tb{
  margin-left: -34px;
}
.star-rating .sl{
  font-size: 14px;
  margin: 5px;
  color: #665345;
}
.star-bar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 65%;
  margin-left: -20px;
  margin-top: 10px;
}

.star-bar .bar {
  flex: 1;
  height: 10px;

  background-color: #e0e0e0;
  margin: 0 10px;
  position: relative;
}

.star-bar .bar .fill {
  height: 100%;
  background-color: #3b4047;
  position: absolute;
  left: 0;
  top: 0;
  
}

.star-bar span {
  min-width: 50px;
  text-align: right;
  font-size: small;
}
.reviews{
  width: 100%;
  height: auto;
  display: grid;
  margin-left:  -30px;
  margin-top: 100px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.reviews .review{
  width: 100%;
}

.reviews .review .review-user{
  margin-top: 10px;
  color: #4E7C32;
  font-size: 20px;
  font-weight: 400;
}
.reviews .review .review-rating{
  font-size: x-small;
  margin-left: 20px;
}